*{
    box-sizing: border-box;
}

.modal{
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 10%;
    width: 80%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}
.modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active{
    background: #2ddf5c;
    border-color: #2ddf5c;
}

.modal__action--negative {
    background: red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active{
    background: #ff5454;
    border-color: #ff5454;
}
#product-overview{
                                                                                        /* background: url(images/pexels.jpg);
                                                                                        background-size: cover;
                                                                                        background-position:  left 0% bottom 100%; */
        background: url(images/pexels.jpg) left 60% bottom 90% /cover ,center;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 80vh;
    padding: 1.6rem;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

#product-overview h1{  
                                                /* text-align: center;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                height: 29vh;
                                                font-size: xx-large; */
    font-size: 1.6rem;
    position: absolute;
    bottom: 40%;
    left: 3%;
    z-index: 0;


}


@media (min-width: 46rem) and (min-width: 60rem) {
    #product-overview{
        height: 100vh;
    }
    #product-overview h1{
        font-size: 2.5rem;
         bottom: 28%;

    }
}

.section-title{
    text-align: center;
    margin-top: 0px;
    padding-top: 1.1rem;
    color: white;
}

.plans{
    background: #352F44;
}
.box{
    background: #ED5AB3;
    color: white;
    /* display: inline-block; */
    margin: 1rem 0;
    padding: 1rem;
    /* text-align: center; 1 */
    width: 100%;
    /* vertical-align: middle; */
    /* display: block 2 */
}

.box:hover{
    background: #3F0071;
    color: whitesmoke;

}

 .boxlist{
    width: 100%;
    /* margin: auto; */
    text-align: center;
    padding-bottom: 2.8rem;
} 

.main-plan{
    background: #cf268a;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; */
}
.plan-annotation{
    background: white;
    color: #cf268a;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(224, 220, 220, 0.5);
    
}

.box li{
    list-style: none;
    margin-bottom: 5px;
}
.box ul{
    padding-left: 0.3rem;
}

.price{
    color: #F4BF96;
}
#main-price{
    color: whitesmoke;
}

                                        /* button */

.plan_button{
    padding: 0.5rem;
    /* border-radius: 8px; */
    background: yellow;
    color: black;
    border: 0px solid black;
    font:inherit;
    font-weight: bold ;
}

.plan_button:hover{
    background: #cf268a;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);

}
.plan_button:focus{
    outline: none;
}

@media (min-width: 46rem) and (orientation: landscape) {
     
    .main-plan{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    }

    .boxlist{
        width: 100%;
        margin: auto;
        text-align: center;
        padding-bottom: 2.8rem;
        max-width: 854px;
    } 
    
    .box{
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        margin: 8px;  
    }
}




            /* pratice */
 
.key-features{
    background: #ff1b68;
    color: white;
    text-align: center;
    padding: 2.8rem 0px;

}

.key-features li{
    list-style: none;
    font-weight: bold;
    margin: 0px 5px;
}

.key-features ul{
    display: inline-block;
    text-align: center;
    padding-left: 0;
    margin: 0px 10px;
    vertical-align: middle;
    max-width: 854px ;
}

.key-features h1{
    margin-bottom: 50px;
    font-weight: bold;
    font-size: xx-large;
}

.image{
    border: 2px solid black;
    width: 128px;
    height: 128px;
    background: url(images/imgk2.jpg);
    border-radius: 50%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

} 
.info{
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}
.important{
    padding-right: 2rem;
    display: inline-block;

}




