main{
    padding-top: 32px;
}
.testimonial{
    font-size: 20px;
    margin: 48px 0;
}

.testimonial_list{
    width: 80%;
    margin: auto;
}

.testimonial:first-of-type{
    margin-top: 96px;
}

.testimonial__image-container{
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px  4px rgba(0, 0, 0, 0.7);
}

.testimonial__image{
    width: 100%;
   vertical-align: bottom;
}

.testimonial_info{
    text-align: right;
    padding: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 30%;

}

#customer-2.testimonial{
    text-align: right;
}

#customer-2.testimonial_info{
    text-align: left;
}

.testimonial__name{
    margin: 3px;
    color: #ff4545;
}

.testimonial__subtitle{
    margin: 0;
    font-size: 18px;
    color: #ccc;
}

.testimonial__subtitle a{
    color: inherit;
    text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:hover{
    color: #7a7a7a;
}

.testimonial__text{
    margin: 3px;
}

/* .testimonial__image{
    max-width: 100%;
    height: auto;
} */

